.view-games{
    margin-left: 10%;
    background-color: #5116d0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.results-found{
    margin-left: 10%;
}

.pages-view{
    margin: auto;
    width: 10%;
}

.pages-btn{
    background-color: #4518ad;
    color: white;
    border: 0;
    font-size: 18px;
    margin: 2px;
    border-radius: 20%;
}